Source: python-hivemind-contrib
Section: unknown
Priority: optional
Maintainer: Sam Morrison <sorrison@gmail.com>
Build-Depends:
 debhelper (>= 12),
 dh-python,
 openstack-pkg-tools,
 python3-all (>=3.2),
 python3-pbr,
 python3-setuptools,
Build-Depends-Indep:
 python3-pytest,
 python3-mysqldb,
 python3-prettytable,
 python3-setuptools (>= 0.6.24),
 python3-keystoneclient,
 python3-novaclient,
 python3-neutronclient,
 python3-hivemind,
Standards-Version: 4.6.1
Homepage: https://github.com/NeCTAR-RC/hivemind_contrib

Package: python3-hivemind-contrib
Architecture: any
Depends: ${misc:Depends}, ${python3:Depends}
Description: A collection of plugins for hivemind.
 hivemind_contrib, A collection of plugins for hivemind.
