Dear NeCTAR Research Cloud User,

This email is to inform you of an ongoing maintenance affecting your instances in the {{ zone }} zone of the NeCTAR Research Cloud.

12 compute hosts in the {{ zone }} availability zone will be under ongoing maintenance as part of the research cloud's hypervisor upgrade (more information at https://support.ehelp.edu.au/support/discussions/topics/6000049195).

From {{ start_ts }} {{ tz }}, your following SHUTOFF instances will be locked and upgraded to the new storage backend. The instances will be unlocked once the upgrade is finished.

If your instances are no longer in use, please delete/terminate them. If you would like to start your instances during this period, please notify us using the email below.

Your affected instances are:

UUID                                  IP Address      Host            Project
{% for server in instances -%}
{{ server.id }}  {{ server.accessIPv4 }}  {{ server.name }}      {{ server.project_name }}
{% endfor -%}

Whilst no impact to data stored on research cloud servers is expected, we recommend users ensure all backups are up-to-date. If you have particular concerns regarding how this outage might impact your services running atop the research cloud then please contact research cloud support as soon as possible so that we can plan an alternate strategy for the relevant instances.

   support@ehelp.edu.au

We apologise sincerely for any inconvenience caused.

Regards,

The NeCTAR Research Cloud Support Team

--
This email has been sent to users of the NeCTAR Research Cloud. It has been
sent to the email address associated with your Research Cloud login. These
emails are essential communications which we endeavour to keep to a minimum.
They only relate to events that may affect your NeCTAR Research Cloud resources
or data integrity. If you receive multiple copies of this email, it may be due
to the fact that you are a member of multiple projects.
