Dear Nectar Research Cloud user,

Thank you for using Nectar to support your research.

The {{zone}} zone is one of the most popular, and it is nearly full. We would like to improve the capacity of our node and have begun a process of reclaiming resources that have been reserved but seem to be going unused.

We have identified your project as having one or more VMs on {{zone}} zone that have been shutdown for at least a month. You may not be aware that even in shutdown mode, a VM still reserves the resources it uses when running.

Your affected instances are:
<table>
  <tr><td>UUID</td><td>IP Address</td><td>Host</td></tr>
{% for instance in instances -%}
  <tr><td>{{ instance.id }}</td><td>{{ ','.join(instance.addresses) }}</td><td>{{ instance.name }}</td></tr>
{%- endfor %}
</table>

If you no longer require the shutdown VM(s), we ask that you please Terminate them as soon as possible.

If we don’t hear from you by {{start_ts}} {{tz}}, we will snapshot and terminate the VM(s). You will be able to recreate the VMs from such snapshots in the future. However, anything in ephemeral storage will be lost.

If you do wish to create a VM from a snapshot, the documentation to help you is at:

https://support.ehelp.edu.au/support/solutions/articles/6000175790-snapshots

http://training.Nectar.org.au/package09/sections/snapshot.html

If you have any queries, please contact us by email:

   support@ehelp.edu.au

Thank you for your attention.

Kind regards,

The Nectar Research Cloud Support Team

--
This email has been sent to users of the Nectar Research Cloud. It has been sent to the email address associated with your Research Cloud login. These emails are essential communications which we endeavour to keep to a minimum.
They only relate to events that may affect your Nectar Research Cloud resources or data integrity. If you receive multiple copies of this email, it may be due to the fact that you are a member of multiple projects.
